# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Datos (no subir datasets grandes)
datos/
*.csv
*.parquet
*.json
*.xml

# Docker
.env

# Sistema
.DS_Store
Thumbs.db
*.log
