<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Compra de Sándwiches</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container my-5">
        <h1 class="text-center">Sistema de Compra de Sándwiches</h1>
        <div class="row justify-content-center my-5">
            <div class="col-md-4 text-center">
                <a href="{{ url_for('hacer_sandwich') }}" class="btn btn-primary btn-lg">Hacer un sándwich</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{ url_for('ver_sandwich') }}" class="btn btn-secondary btn-lg">Ver sándwich</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{{ url_for('historial_compras') }}" class="btn btn-info btn-lg">Ver historial de compras</a>
            </div>
        </div>
    </div>
</body>
</html>