<!DOCTYPE html>
<html>
<head>
    <title>Ver Sándwich</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container my-5">
        <h1 class="text-center">Sándwich</h1>
        <div class="card my-5">
            <div class="card-body">
                <h2 class="card-title">Ingredientes:</h2>
                <ul class="list-group list-group-flush">
                    {% for ingrediente in ingredientes %}
                    <li class="list-group-item">{{ ingrediente }}</li>
                    {% endfor %}
                </ul>
                <p class="card-text text-right">Total: ${{ total }}</p>
                <div class="text-center">
                    <a href="{{ url_for('hacer_sandwich') }}" class="btn btn-primary btn-lg">Seguir Comprando</a>
                    <a href="{{ url_for('pagar') }}" class="btn btn-success btn-lg">Pagar</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>