# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
dist/

# Virtual environment
.venv/
venv/
env/

# Editor-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Flask-specific
instance/

# PyInstaller
*.spec

# My files
purchases.json
